[Unit]
Description=Daemon for the trackpointer of the MiniBook
ConditionPathExists=/usr/bin/

[Service]

ExecStart=/usr/bin/trackpointerd -c
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
