[Unit]
Description=Daemon for the tabletmode of the MiniBook
ConditionPathExists=/usr/bin/

Requires=trackpointerd.service keyboardd.service
After=trackpointerd.service keyboardd.service
After=network.target
After=dev-iio\x2ddevice0.device
After=dev-iio\x2ddevice1.device

[Service]

ExecStart=/usr/bin/tabletmoded
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
