[Unit]
Description=Daemon for the tabletmode of the MiniBook
ConditionPathExists=/usr/bin/

Requires=moused.service keyboardd.service sysinit.target
After=moused.service keyboardd.service iio-sensor-proxy.service sysinit.target basic.target

[Service]

ExecStart=/usr/bin/tabletmoded
Restart=no
Type=simple

[Install]
WantedBy=multi-user.target
